
.navbar-custom {
  background-color: #6fa182;

}
.navbar-nav {
  padding: 0; 
}
.navbar-collapse {
  justify-content: center;  
}
.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
  margin: 0 15px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-link:hover {
  color: #ddd !important;
}

.navbar-brand img {
  max-height: 50px; 
  width: auto;
  object-fit: contain; 
}
